In [2]:
#Key value pairs
#Key cannot change, values can change and can be unordered

empty_dict={}
type(empty_dict)

empty_dict1=dict()
type(empty_dict1)

dict

In [6]:
student = {"name":"mike","age":32,"grade":"XI"}
print(student)

{'name': 'mike', 'age': 32, 'grade': 'XI'}

In [7]:
student = {"name":"mike","age":32,"name":"XI"}
print(student)
#Recent key value taken

{'name': 'XI', 'age': 32}

In [11]:
student = {"name":"mike","age":32,"grade":"XI"}
print(student["name"])
#accessing elements using key name directly
print(student["age"])
#another name
print(student.get("name"))
print(student.get("grade"))

mike
32
mike
XI

In [16]:
print(student.get("last name"))
print(student.get("last name","value not present"))
#You get none if you provide a key name which is not present

None
value not present

In [20]:
#To add new keys and update values for old keys
student["name"]="andrew"
print(student)
student["last name"] = "strauss"
print(student)

{'name': 'andrew', 'age': 32, 'grade': 'XI', 'last name': 'strauss'}
{'name': 'andrew', 'age': 32, 'grade': 'XI', 'last name': 'strauss'}

In [21]:
#To delete key and value
del student["grade"]

In [22]:
print(student)

{'name': 'andrew', 'age': 32, 'last name': 'strauss'}

In [25]:
#Common dictionary methods
keys=student.keys()
values=student.values()
print(keys,values)

dict_keys(['name', 'age', 'last name']) dict_values(['andrew', 32, 'strauss'])

In [26]:
print(student.items())

dict_items([('name', 'andrew'), ('age', 32), ('last name', 'strauss')])

In [27]:
#Never do a full copy!!!

student_copy=student
student["name"] = "Kevin"
print(student)
print(student_copy)

#You see names in both dictionaries have changed!!!

{'name': 'Kevin', 'age': 32, 'last name': 'strauss'}
{'name': 'Kevin', 'age': 32, 'last name': 'strauss'}

In [28]:
#To avoid this problem, we do a shallow copy

student_copy1=student.copy()
student["age"]=50
print(student)
print(student_copy1)

{'name': 'Kevin', 'age': 50, 'last name': 'strauss'}
{'name': 'Kevin', 'age': 32, 'last name': 'strauss'}

In [32]:
#Iteration over dictionaries

for keys in student.keys():
  print(keys)

for values in student.values():
  print(values)

for keys, values in student.items():
  print(f"{keys},{values}")

name
age
last name
Kevin
50
strauss
name,Kevin
age,50
last name,strauss

In [34]:
#Nested dictionaries
students = {
    "student_1":{"name":"virat","age":32,"runs":7000},
    "student_2":{"name":"pujara","age":33,"runs":8000}
}
print(students)

{'student_1': {'name': 'virat', 'age': 32, 'runs': 7000}, 'student_2': {'name': 'pujara', 'age': 33, 'runs': 8000}}

In [38]:
#Reading nested dictionaries
print(students["student_1"]["runs"])
print(students.get("student_2").get("runs"))

7000
8000

In [43]:
#Iterating over nested dictionaries
for student_id, student_info in students.items():
  print(f"{student_id},{student_info}")
  for keys1, values1 in student_info.items():
    print(f"{keys},{values}")

student_1,{'name': 'virat', 'age': 32, 'runs': 7000}
last name,strauss
last name,strauss
last name,strauss
student_2,{'name': 'pujara', 'age': 33, 'runs': 8000}
last name,strauss
last name,strauss
last name,strauss

In [45]:
#Dictionary comprehension
squares=dict()
for i in range(0,5):
  squares[i]=i*i

print(squares)
#above using normal for loop

#Below is dictionary comprehension
squares_comp={i:i*i for i in range(0,5)}
print(squares_comp)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [47]:
squares_comp_mod={i:(i*i if i%2==0 else i) for i in range(0,5)}
#Condition applied only to the value part

In [48]:
print(squares_comp_mod)

{0: 0, 1: 1, 2: 4, 3: 3, 4: 16}

In [54]:
#frequency of elements in a list
lst=[1,2,2,2,3,4,5,5,5,3,7,6,6,8,4,7,9]
frequency_counter=dict()
set_lst=set(lst)
for i in set_lst:
  frequency_counter[i]=lst.count(i)

print(frequency_counter)

{1: 1, 2: 3, 3: 2, 4: 2, 5: 3, 6: 2, 7: 2, 8: 1, 9: 1}

In [57]:
#Merging 2 dictionaries

dict_1={"a":1,"b":2}
dict_2={"c":2,"d":4}

merged_dict={**dict_1,**dict_2}
print(merged_dict)

#** unpacks all key value pairs and puts them into the new dictionary

{'a': 1, 'b': 2, 'c': 2, 'd': 4}

In [60]:
dict_1["x"]=4

In [61]:
print(merged_dict)

{'a': 1, 'b': 2, 'c': 2, 'd': 4}