Syntax
Syntax is like the grammar rules of a human language. It's about how words and symbols are arranged to form a valid statement or expression. If you break a syntax rule, your code will cause a syntax error and won't run. For example, missing a colon after an if statement or a parenthesis in a function call is a syntax error. It's a matter of form, not meaning.

Semantics
Semantics is the meaning behind the code. It determines what a valid statement actually does when executed. A syntactically correct program can still have semantic errors, which are logical mistakes that cause the program to behave unexpectedly. These are much harder to debug than syntax errors because the code runs, but the output is wrong. For example, using the wrong variable in a calculation or trying to divide by zero are semantic errors.

Syntax
The code result = x / y is syntactically correct. All the elements—variables, the assignment operator (=), and the division operator (/)—are in the correct order. Python understands this as a valid statement.

Semantics
While the code is syntactically correct, it contains a semantic error: division by zero. When the program runs, it will attempt to execute this line. Since division by zero is a meaningless operation in mathematics, Python will raise a ZeroDivisionError at runtime. The error isn't in the structure of the code, but in the meaning of the operation. The program's logic is flawed, even though its grammar is perfect.

In [ ]:
## For single line comments

'''
For multiline comments
for your reference
works well in .py file
'''

In [12]:
##Case sensitivity - Python is case-sensitive
## No need to declare variable type in python, do the direct assignment. Python does type inferencing
name = 'ron'
Name = 'Weasley'
print(type(name))

print(name)
print(Name)

<class 'str'>
ron
Weasley

Python uses indentation (Blocks of code) - Other programming languages uses {} to define group of statements if/for etc., similarly pyton uses indentation

In [13]:
## Line continuation

total = 1+2+3+4+5+6+\
7+8

print(total)

x=5;y=10;z=15;print(z)

36
15

##Add \ to continue line and add ; to execute multiple statements in the same line

In [16]:
##Example of name error
m=n

NameError: name 'n' is not defined

In [17]:
#Code examples of indentation

if True:
  print("First")
  if False:
    print("Second")
print("Third")

First
Third