In [1]:
#Lists and list comprehension

#Lists are mutable collection of items

lst=[]
print(type(lst))

<class 'list'>

In [3]:
#Declaration and assignment of lists


lst=["ganguly","tendulkar","dravid",1,2,3,True,3.5]
print(lst)

['ganguly', 'tendulkar', 'dravid', 1, 2, 3, True, 3.5]

In [15]:
#Qn - How to iteratively add items to a list until the user says enough
shopping_list = []
print("Enter an item to add to your list. Type 'done' when you're finished.")
while True:

    item = input("Add an item: ")
    if item.lower() == 'done':
        break
    shopping_list.append(item)

print("\nYour final shopping list is:")
for item in shopping_list:
    print("- " + item)

Enter an item to add to your list. Type 'done' when you're finished.
Add an item: idly
Add an item: dosa
Add an item: poori
Add an item: banana
Add an item: apple
Add an item: watermelon
Add an item: done

Your final shopping list is:
- idly
- dosa
- poori
- banana
- apple
- watermelon

In [8]:
#Accessing list elements
print(shopping_list)
print(shopping_list[0])
print(shopping_list[-1])
print(shopping_list[0:2])

['idly', 'dosa', 'poori']
idly
poori
['idly', 'dosa']

In [10]:
shopping_list[1] = 'watermelon'
print(shopping_list)

['idly', 'watermelon', 'poori']

In [16]:
#List Methods

shopping_list.append("rava") #Add item to the end
print(shopping_list)

shopping_list.insert(2,"dhokla") #Add an item to the specific index
print(shopping_list)

shopping_list.remove("idly") #To remove the first instance of the item specified
print(shopping_list)

last_element=shopping_list.pop()
print(last_element)

['idly', 'dosa', 'poori', 'banana', 'apple', 'watermelon', 'rava']
['idly', 'dosa', 'dhokla', 'poori', 'banana', 'apple', 'watermelon', 'rava']
['dosa', 'dhokla', 'poori', 'banana', 'apple', 'watermelon', 'rava']
rava

In [19]:
print(shopping_list)
index = shopping_list.index("poori")
print(index)
shopping_list.insert(3,"vada")
print(shopping_list)

['dosa', 'dhokla', 'poori', 'banana', 'apple', 'watermelon']
2
['dosa', 'dhokla', 'poori', 'vada', 'banana', 'apple', 'watermelon']

In [23]:
shopping_list.sort()#Sorting in ascending order
print(shopping_list)
shopping_list.reverse()
print(shopping_list)

['apple', 'banana', 'dhokla', 'dosa', 'poori', 'vada', 'watermelon']
['watermelon', 'vada', 'poori', 'dosa', 'dhokla', 'banana', 'apple']

In [37]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[::2]) #-- The last number is the stepper. If stepper is negative, the list prints in reverse order
print(numbers[-4:10]) # Rightway, the list starts with index 0,1,2 etc, and from left starts from -1,-2,-3 etc

[1, 3, 5, 7, 9]
[7, 8, 9, 10]

In [39]:
#Iterating over list
for num in numbers:
  print(num)
#Iterating with index over list
for index, num in enumerate(numbers):
  print(index, num)

1
2
3
4
5
6
7
8
9
10
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [42]:
practice_list=[]
while True:
  num=input("Enter number:")
  if num!="over":
    practice_list.append(int(num))
  else:
    break

print(practice_list)

#Qn: How to counter blank inputs

Enter number:1
Enter number:2
Enter number:3
Enter number:4
Enter number:over
[1, 2, 3, 4]

In [46]:
#List comprehension
#[EXPRESSION FOR ITEM IN ITERABLE IF CONDITION]

#[x**2 for x in range(10)]

A=[1,2,3,4,5,6,7,8,9,10]
B=[x if x%2==0 else x*2 for x in A]
print(B)

[2, 2, 6, 4, 10, 6, 14, 8, 18, 10]

In [47]:
#Nested list comprehension

[x*y for x in range(1,10) for y in range(11,20)]
#This is like one for loop and then the nested loop

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 66,
 72,
 78,
 84,
 90,
 96,
 102,
 108,
 114,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 88,
 96,
 104,
 112,
 120,
 128,
 136,
 144,
 152,
 99,
 108,
 117,
 126,
 135,
 144,
 153,
 162,
 171]