In [2]:
#Sets:

#Do not allow duplication, unordered, used for membership functions such as union and intersection

my_set={1,2,3,3,4,4,5,6}
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [8]:
#Basic set operations

#Add and remove elements

my_set.add(7)
print(my_set)

#my_set.remove(3)
print(my_set)

#my_set.remove(100)# will give error
my_set.discard(10)

{1, 2, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}

In [9]:
removed_element=my_set.pop()#First in first out
print(removed_element)
print(my_set)
#Clear will remove all elements

1
{2, 4, 5, 6, 7}

In [11]:
#membership tests
print(5 in my_set)
print(100 in my_set)

True
False

In [19]:
set_1={1,2,3}
set_2={3,4,5}
print(set_1.union(set_2))
print(set_1.intersection(set_2))
print(set_1.difference(set_2))
print(set_1.symmetric_difference(set_2))
print(set_1.issuperset(set_2))

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}
False