In [ ]:
def function_name(parameters):

  """Docstring - To help the reader understand what the function does"""
  #Function body
  return expression

In [ ]:
def even_or_odd(num):

  """Docstring - To get even or odd number"""
  if num%2==0:
    print("even")
  else:
    print("odd")

In [ ]:
even_or_odd(20)

even

In [ ]:
#Functions with multiple parameters
def add_two_nums(a,b):
  return a+b

In [ ]:
print(f"sum is {add_two_nums(5,7)}")

sum is 12

In [ ]:
#Default parameters
#shyam is the default parameter
def greet(name = "shyam"):
  print(f"Hello! {name}")

In [ ]:
greet("mike")

Hello! mike

In [ ]:
#Very important - variable length arguments
#Positional and keyword arguments

#Starting with positional arguments

def summation(*args):
  sum=0
  for i in args:
    sum+=i
  return sum

In [ ]:
print(summation(1,2,3,4,6))

16

In [15]:
#Next we go to Keyword arguments
#If we give this **kwargs, then this will be read as a dictionary parameter and we can access key value pairs

def example(**kwargs):
  for keys, values in kwargs.items():
    print(f"{keys}:{values}")

In [19]:
#This is how you pass the paramter, notice the difference between this and dictionary format
example(name="shyam",age=32,country="India")

name:shyam
age:32
country:India

In [24]:
#Combining both of them - positional arguments *args and keyword arguments **kwargs
def example_2(*args,**kwargs):
  for i in args:
    print(f"Positional parameter:{i}")

  for key, value in kwargs.items():
    print(f"{key}:{value}")

In [25]:
example_2(1,2,3,4,5,(1,2,3),name="shyam",grade=6,marks=49)

Positional parameter:1
Positional parameter:2
Positional parameter:3
Positional parameter:4
Positional parameter:5
Positional parameter:(1, 2, 3)
name:shyam
grade:6
marks:49