In [1]:
#Ordered collection of items and immutable

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [9]:
#Assigning and accessing tuple elements

A=(1,2,2,3)
print(A[0])
print(A)
print(type(A))
print(A.count(2))

#Concatenation
B=(100,101,102)
print(A+B)

#Repetition for 3 times
print(B*3)

1
(1, 2, 2, 3)
<class 'tuple'>
2
(1, 2, 2, 3, 100, 101, 102)
(100, 101, 102, 100, 101, 102, 100, 101, 102)

In [13]:
#Packing and unpacking tuples

#Packing
D=1,3.14,"Hello"
print(D)

#Unpacking
a,b,c=D
print(a)

#Unpacking with *
E=1,2,3,4,5,6,7

first, *middle, last = E
print(first,middle,last)

(1, 3.14, 'Hello')
1
1 [2, 3, 4, 5, 6] 7

In [15]:
#Nested tuples

F=(1,(1,2,3),4,5)
print(F[1][1])

2

In [26]:
L=[1,2,[3,4,5],[6,7]]
for i in L:
  if isinstance(i, list): # Check if the element is a list
    for j in i:
      print(j,end = " ")
  else: # Handle the case where the element is not a list (e.g., an integer)
    print(i,end =" ")
  print()

1
2
3 4 5
6 7

In [22]:
?is_type

Object `is_type` not found.