In [2]:
#lambda args: expn
addition=lambda a,b: a+b
type(addition)

function

In [3]:
addition(5,6)

11

In [4]:
even_or_odd=lambda a: True if a%2==0 else False

In [5]:
even_or_odd(3)

False

In [ ]:
#Map applies a function to all items in a list
#Syntax -: map(lambda args:expn, iterable) generally map(fn, iterable)
#The results stored in a memory location, to display the result, we have to assign the map to another variable of the same data type as the iterable

In [7]:
#Using map functions
numbers=[1,2,3,4,5]
squares=list(map(lambda X:X**2, numbers))
print(squares)

[1, 4, 9, 16, 25]

In [8]:
numbers_1=[1,2,3]
numbers_2=[4,5,6]
add_numbers=list(map(lambda x,y: x+y, numbers_1,numbers_2))

In [9]:
print(add_numbers)

[5, 7, 9]

In [ ]:
#Filter applies a function to filter out elements from an iterable
#Syntax -: filter(fn, iterable)
#The same logic of getting results as map applies to filter also

In [13]:
B=list(filter(lambda a: a%2==0,numbers_2))
print(B)
#Only the values returning true will be put in the new list A

[4, 6]

In [14]:
A=list(filter(lambda a: a>5,add_numbers))
print(A)
#Only the values returning true will be put in the new list A

[7, 9]

In [16]:
new_numbers=[1,2,3,4,5,6,7,8,9,10]
C=list(filter(lambda a: a>5 and a%2==0,new_numbers))
print(C)

[6, 8, 10]

In [27]:
#Apply filter to check if age>25 in dict

D=[{"name":"shyam","age":25},
   {"name":"rahul","age":27},
   {"name":"mike","age":28}]

#Get the name of the person who is greater than 25

def get_name(E):
  return E["age"]>25

F=list(filter(get_name,D))
print(F)

[{'name': 'rahul', 'age': 27}, {'name': 'mike', 'age': 28}]

In [15]:
#Recollection of Lambda
greater_than_5=lambda a: a>5
print(greater_than_5(6))

True